<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color" th:fragment="header" style="font-family: Khmer os;">
    <a class="navbar-brand" th:href="@{\all}"​​ th:text="#{ArticleManagementSystem}" style="margin-left: 160px;"><i class="fas fa-envelope-open-text"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/ViewCategory}">
                    <span th:text="#{Category}"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">

            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="?lang=kh">
                    <img src="http://icons.iconarchive.com/icons/gosquared/flag/48/Cambodia-icon.png" alt="">

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="?lang=en">
                    <img src="http://icons.iconarchive.com/icons/icondrawer/flags/48/United-States-of-Americ-icon.png">
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>