<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/deafu_layout"
>
<head>
    <meta charset="UTF-8">
    <title>AddData</title>

    <style>
          Lable,input,h1,button{
    font-family: Khmer os;}
    file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
    </style>
</head>
<body>

<div class="container" style="box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2); margin-top:10vh;    margin-bottom: 20px;" layout:fragment="content">
        <div class="row" style="padding:20px 0px;box-sizing:border-box">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="md-form" action="/add" method="post" enctype="multipart/form-data" th:object="${Article}">
                    <legend style="text-align: center; padding:10px 0px;"><h1 th:text="#{Please Input The Data}"></h1></legend>
                    <lable th:text="#{Title}" ><b></b></lable> <span style="color: red;font-size: small;" th:if="${#fields.hasErrors('title')}"> : Title can not be Blank</span>
                    <input type="text"  class="form-control mb-4" th:field="${Article.title}">
                    <lable th:text="#{Author}" ><b>Author</b></lable> <span style="color: red;font-size: small;" th:if="${#fields.hasErrors('author')}"> :Author can not be Blank </span>
                    <input type="text"  th:field="${Article.author}"   class="form-control mb-4">
                    <lable  th:text="#{Category}"><b></b></lable>
                    <select  th:field="${Article.categoryModal.cate_id}"class="browser-default custom-select" style="margin: 23px 0px;" >
                        <option   th:each="cate : ${category}" th:text="${cate.cate_title}"
                                  th:value="${cate.cate_id}"></option>
                    </select>
                    <lable th:text="#{Description}" ><b>Description</b></lable><span  style="color: red;font-size: small;" th:if="${#fields.hasErrors('description')}">  :Description can not be Blank </span>
                    <input type="text"  class="form-control mb-4"  th:field="${Article.description}" >
                    <lable th:text="#{Thumbnail}" ><b>Thumnail</b></lable>
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="files" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                   <center><input type="submit" th:value="#{Insert}" multiple="multiple" class="btn btn-primary">
                       <a th:href="@{/all}"><button  type="button" class="btn btn-danger" th:text="#{Back}"> Back</button></a>
                   </center>
                </form>
            </div>
        </div>
</div>
</body>
</html>