<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="container-flat" th:replace="fragment/header :: header"></div>
<div class="container" style="box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2); padding-top:10px;  padding-bottom:30px;  margin-top:50px;">
    <div class="row">
       <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/cateupdate" method="post" >
                <legend style="text-align: center; padding:10px 0px;"><h1 th:text="#{Update}" style="font-family: Khmer os"></h1></legend>
                <lable th:text="#{ID}" ><b>ID</b></lable>
                <input type="text"  class="form-control mb-4" placeholder="ID"  th:field="${viewobj.cate_id}">
                <lable th:text="#{Title}" ><b></b></lable> <span style="color: red;font-size: small;" th:if="${#fields.hasErrors('viewobj.cate_title')}"> :Title can not be Blank</span>
                <input type="text"  class="form-control mb-4" placeholder="Title"  th:field="${viewobj.cate_title}">
                <center><input  th:value="#{Update}"  type="submit"  class="btn btn-primary">  <a th:href="@{/ViewCategory}"><button th:text="#{Back}" type="button" class="btn btn-danger"> Back</button></a></center>
            </form>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="container-flat" th:insert="fragment/footer :: footer" style="position: absolute;bottom: 0px;"></div>
</body>
</html>