<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/deafu_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
           a,th,td,button,h4{
                font-family: Khmer os;
                text-align:center;}
                table{
                box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);}
                input{
                 font-family: Khmer os;
                }
    </style>
</head>
<body>
<div class="container"  layout:fragment="content">
    <div class="row">
        <div class="text-center" >
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm"  th:text="#{Insert}"></a>
        </div>

        <div class="col-md-12">
            <table class="table center">
                <thead class="warning-color white-text">
                <tr >
                    <th  th:text="#{ID}" scope="col">ID</th>
                    <th   th:text="#{Title}" scope="col">Title</th>
                    <th  th:text="#{Action}" scope="col">action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="Views:${view}">
                         <td th:text="${Views.cate_id}"></td>
                        <td th:text="${Views.cate_title}">Mark</td>
                    <td>
                         <a th:href="@{/updatecate/{id}(id=${Views.cate_id})}" > <button type="button" class="btn btn-primary"> <i class="fas fa-edit"></i>  </button></a>
                        <a th:href="@{/deletecate/{id}(id=${Views.cate_id})}" > <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form action="/addcate" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"  th:text="#{Please Input The Data}"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input name="cate_title" type="text" id="orangeForm-name" class="form-control validate" th:placeholder="#{Title}">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit"  th:text="#{Insert}"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>