<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layouts/deafu_layout"
>

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        #list {
            border-radius: 50%;
        }
        th,button,input {
            font-family: Khmer os;
        }
        table {
            box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
        }
    </style>
</head>
<body>
<div class="container" layout:fragment="content">

    <div class="row">
        <div class="col-4">
            <a href="/add">
                <button type="button" class="btn btn-primary" th:text="#{Insert}">Add</button>
            </a>
        </div>
    </div>
    <form action="/" method="get">
        <!-- Material input -->
        <div class="row">
            <div class="col-6">

                <div class="md-form">
                    <input type="text" id="form1" th:field="${filte.title}" class="form-control" th:placeholder="#{Title}">
                </div>
            </div>
            <div class="col-6">
                <select th:field="${filte.id}" class="browser-default custom-select" style="margin: 23px 0px;">
                    <option th:each="cate : ${category}" th:text="${cate.cate_title}" th:value="${cate.cate_id}"></option>
                </select>
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="warning-color white-text">
        <tr>
            <th th:text="#{ID}" scope="col"></th>
            <th th:text="#{Title}" scope="col"></th>
            <th th:text="#{Author}" scope="col"></th>
            <th scope="col" th:text="#{Category}"></th>
            <th th:text="#{Description}" scope="col"></th>
            <th th:text="#{Thumbnail}" ​scope="col">Thumbnail</th>
            <th ​ th:text="#{Action}" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="views: ${view}">
            <td th:text="${views.id}"></td>
            <td th:text="${views.title}"></td>
            <td th:text="${views.author}"></td>
            <td th:text="${views.categoryModal.cate_title}"></td>
            <td th:text="${views.description}"></td>
            <td><img th:src="${views.thumbnail}" alt="nothing" style="width:50px;height=20px;" accept="image/*"> </td>
            <td>
                <a th:href="@{/update/{id}(id=${views.getId()} ) }">
                    <button type="button" class="btn btn-primary"><i class="far fa-edit"></i></button>
                </a>
                <a th:href="@{/remove(id=${views.id})}">
                    <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </a>
                <a th:href="@{/view/{id}(id=${views.getId()} ) }">
                    <button type="button" class="btn btn-danger"><i class="far fa-eye"></i></button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row " style="position:fix;">
        <div class="col-3">

        </div>
        <div class="col-7">
        <nav th:if="${pagination.totalCount}>5" th:remove="tag" aria-label="Page navigation">
            <ul class="pagination pg-red">
                <li class="page-item "><a class="page-link" th:href="@{/article/(page=1, article_title=${articleFilte.title}, category_id=${articleFilte.id})}">First</a></li>
                <li class="page-item ">
                    <a class="page-link" th:href="@{/article/(page=${pagination.previousPage}, article_title=${articleFilte.title}, category_id=${articleFilte.id})}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active " th:each="i: ${#numbers.sequence(pagination.startPage, pagination.endPage)}" th:class="${pagination.page}==${i}?'active, ':'page-item'">
                    <a class="page-link" id="list" th:text="${i}" th:href="@{/article/(page=${i}, article_title=${articleFilte.title}, category_id=${articleFilte.id})}"></a>
                </li>
                <li class="page-item ">
                    <a class="page-link" th:href="@{/article/(page=${pagination.nextPage}, article_title=${articleFilte.title}, category_id=${articleFilte.id})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" title="Last" th:href="@{/article/(page=${pagination.totalPages}, article_title=${articleFilte.title}, category_id=${articleFilte.id})}">Last</a></li>
            </ul>
        </nav>
        </div>
        <div class="col-2" >
            <button th:text="#{Record}+' : ' +${pagination.totalCount}"type="button" style="margin:0px;" class="btn btn-success"></button>
        </div>
    </div>
</div>


</body>

</html>