<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/deafu_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css">

    <style>
        Lable,input{
        font-family: Khmer os;}
    </style>

</head>
<body>
<div class="container" style="box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2); margin-top:10vh;   margin-bottom: 20px;" layout:fragment="content">
        <div class="row" style="padding:20px 0px;box-sizing:border-box">
            <div class="col-3"></div>
            <div class="col-6">
                <form action="/ActionUpdate/" method="post"  enctype="multipart/form-data">
                    <legend style="text-align: center; padding:10px 0px;"><h1 th:text="#{Update}" style="font-family: Khmer os"></h1></legend>
                    <lable th:text="#{ID}" ><b>ID</b></lable>
                    <input type="text"  class="form-control mb-4" placeholder="ID"  th:field="${article.id}">
                    <lable th:text="#{Title}" ><b></b></lable> <span style="color: red;font-size: small;" th:if="${#fields.hasErrors('article.title')}"> :Title can not be Blank</span>
                    <input type="text"  class="form-control mb-4" placeholder="Title" th:field="${article.title}">
                    <lable th:text="#{Category}" ><b></b></lable>
                    <select  th:field="${article.categoryModal.cate_id}"   class="browser-default custom-select" style="margin: 23px 0px;" >
                        <option   th:each="cate : ${category}" th:text="${cate.cate_title}"
                                  th:value="${cate.cate_id}"></option>
                    </select>
                    <lable th:text="#{Author}" ><b>Author</b></lable><span style="color: red;font-size: small;" th:if="${#fields.hasErrors('article.author')}"> :Author can not be Blank</span>
                    <input type="text"  class="form-control mb-4" placeholder="Author" th:field="${article.author}">
                    <lable th:text="#{Description}" ><b>Description</b></lable> <span style="color: red;font-size: small;" th:if="${#fields.hasErrors('article.description')}"> :Description can not be Blank</span>
                    <input type="text"  class="form-control mb-4" placeholder="Description" th:field="${article.description}">
                    <lable th:text="#{Thumbnail}" ><b>Thumnail</b></lable>
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="files" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                   <center><a href=""><input  th:value="#{Update}"  type="submit"  class="btn btn-primary"></a><a th:href="@{/all}"><button th:text="#{Back}" type="button" class="btn btn-danger"> Back</button></a></center>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
</div>

</body>
</html>