<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/deafu_layout">
<head>
    <meta charset="UTF-8">
    <title>ViewForm</title>
    <style>
        body{
		background: linear-gradient(90deg, #e8e8e8 50%, #3d009e 50%);
	}
	.portfolio{
		padding:6%;
		text-align:left;
	}
	.heading{
		background: #fff;
		padding: 1%;
		text-align: left ;
		box-shadow: 0px 0px 4px 0px #545b62;
	}
	.heading img{
		width: 10%;
	}
	.bio-info{
		padding: 5%;
		background:#fff;
		box-shadow: 0px 0px 4px 0px #b0b3b7;
	}
	.name{
		font-family: 'Charmonman', cursive;
		font-weight:600;
	}
	.bio-image{
		text-align:center;
	}
	.bio-image img{
	border: 2px solid #fff;
		object-fit: cover;
	}

	.bio-content{
		text-align:left;
	}
	.bio-content p{
		font-weight:600;
		font-size:30px;
	}
	    Lable,input,button{
        font-family: Khmer os;}
        .hello{
        width:300px;
        height=100ppx;
        }

    </style>
</head>
<body>
<div class="container portfolio" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <img src="https://image.ibb.co/cbCMvA/logo.png" />
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img  class="hello" th:src="${article.thumbnail}" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <lable  th:text="#{Title}"​​></lable>
                <input type="text"  class="form-control mb-4" placeholder="Title" disabled th:field="${article.title}">
                <lable th:text="#{Author}"></lable>
                <input type="text"  class="form-control mb-4" placeholder="Author" disabled th:field="${article.author}">
                <lable th:text="#{Description}">Description</lable>
                <input type="text"  class="form-control mb-4" placeholder="Description"  disabled th:field="${article.description}">
                <lable th:text="#{Category}">Category</lable>
                <input type="text"  class="form-control mb-4"  disabled th:field="${article.categoryModal.cate_title}">
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="text-align:center">
                <a th:href="@{/all}"><button th:text="#{Back}" type="button" class="btn btn-success">Back</button></a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
</body>
</html>